@using TemplateProjectone.Application.Services.HomePages.Query.GetSliders
@model List<GetSliderDto>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست  اسلایدرها</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="لینک: activate to sort column descending" style="width: 222px;">لینک</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="تیتر: activate to sort column ascending" style="width: 401px;">تیتر</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="توضیحات: activate to sort column ascending" style="width: 401px;">توضیحات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">@item.Link</td>
                                                        <td>@item.Title</td>
                                                        <td>@item.Description</td>
                                                        <td>
                                                            <button class="btn btn-info" onclick="ShowModalEditSlider('@item.Id' ,  '@item.Link' ,'@item.Title', '@item.Description' )">ویرایش</button>
                                                            <button class="btn btn-danger" onclick="RemoveSlider('@item.Id')">حذف</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div><div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info"
                                             id="DataTables_Table_0_info"
                                             role="status" aria-live="polite">
                                            نمایش 1 تا 10 از 57 سطرها
                                        </div>
                                    </div><div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled"
                                                    id="DataTables_Table_0_previous">
                                                    <a href="#" aria-controls="DataTables_Table_0"
                                                       data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                                       class="page-link">1</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2"
                                                       tabindex="0" class="page-link">2</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3"
                                                       tabindex="0" class="page-link">3</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="DataTables_Table_0"
                                                       data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#"
                                                       aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0"
                                                       class="page-link">5</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6"
                                                       tabindex="0" class="page-link">6</a>
                                                </li>
                                                <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                                                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7"
                                                       tabindex="0" class="page-link">بعدی</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>



@section Scripts
{

<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>

<script>


    function RemoveSlider(Id) {
        swal.fire({
            title: 'حذف اسلایدر',
            text: "کاربر گرامی از حذف اسلایدر مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7cacbe',
            confirmButtonText: 'بله',
            cancelButtonText: 'خیر'
        }).then((result) => {
            if (result.value) {
                var postData = {
                    'Id': Id,
                };

                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "RemoveSlider",
                    data: postData,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.reload();
                            });
                        }
                        else {

                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });

            }
        })
    }


    function Edituser() {

        var Id = $("#Edit_Id").val();
        var Link = $("#Edit_Link").val();
        var Title = $("#Edit_Title").val();
        var Description = $("#Edit_Description").val();

        var postData = {
            'Id': Id,
            'Link': Link,
            'Title': Title,
            'Description': Description
        };


        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "Get",
            url: "EditSlider",
            data: postData,
            success: function (data) {
                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        location.reload();
                    });
                }
                else {
                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });

        $('#EditSlider').modal('hide');

    }


    function ShowModalEditSlider(Id, Link, Title, Description) {
        $('#Edit_Id').val(Id)
        $('#Edit_Link').val(Link)
        $("#Edit_Title").val(Title);
        $("#Edit_Description").val(Description);

        $('#EditSlider').modal('show');

    }

</script>






}


@section Modals
{
<!-- Modal Edit User -->
<div class="modal fade" id="EditSlider" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ویرایش اسلایدر</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                    <fieldset class="form-group">
                        <input type="hidden" id="Edit_Id" />
                        <label for="basicInput">لینک</label>
                        <input type="text" class="form-control" id="Edit_Link">
                        <label for="basicInput">تیتر</label>
                        <input type="text" class="form-control" id="Edit_Title">
                        <label for="basicInput">توضیحات</label>
                        <input type="text" class="form-control" id="Edit_Description">
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">بستن</a>
                <a class="btn btn-primary" onclick="Edituser()">اعمال تغییرات</a>
            </div>
        </div>
    </div>
</div>
}